{{>header}}

<div class="container">
<!--TRIP DASH BOARD-->
    <!-- Add Trip Modal -->
    <div id="addTripModal" class="modal">
      <form action="/api/trip" method="POST">
        <div class="modal-content">
            <h4>Add A Trip</h4>
            <input placeholder="City (Ex: Austin)" id="trip-city" name="city" type="text" class="validate">
            <input placeholder="State (Ex: TX)" id="trip-state" name="state" type="text" class="validate" maxlength="2">
            <input placeholder="Day Leaving (Ex: March 11)" id="trip-leaving" name="departure_date" type="date" class="datepicker">
            <input placeholder="Day Returning (Ex: March 15)" id="trip-returning" name="return_date" type="date" class="datepicker">
            <input value="{{user.id}}" name="userId" type="hidden">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add Trip</button>
        </div>
      </form>
    </div>
    <!-- End of Add Trip Modal -->

    <!-- Remove Trip Modal -->
    <div id="removeTripModal" class="modal">
      <div class="modal-content">
        <h4>Delete A Trip</h4>
        <div id="deleteTrips">You don't have any trips to delete.</div>
      </div>
    </div>
    <!-- End of Remove Trip Modal -->

    <!-- 2.0 Trip List -->
    <div id="user-trips" class="container content">
        <div class="row valign-wrapper">
            <div class="col s4 offset-s4 valign">
                <div class="card darken-1">
                    <div class="card-content">
                        <span id="trips-title" class="card-title">Pick A Trip</span>
                        <p id="trip-list">
                          TRIP LIST<br>
                          {{#if user.TripUuid }}
                          {{#each trips }}
                          <a href="/trip/{{this.uuid}}">Triiiip</a>
                          {{/each}}
                          {{/if}}
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn valign" href="#addTripModal" id="add-trip-link">Add A Trip</a>
                        <br>
                        <a class="waves-effect waves-light btn valign" href="#removeTripModal" id="deleteATrip">Delete A Trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Destination page -->
<!-- END OF TRIP DASH BOARD -->

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<!--Materialize icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Custom Stylesheet-->
<link rel="stylesheet" href="../../css/style.css">

{{> page/modal modalId="modal1" }}


<!--{{> page/flight }}-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.js"></script>
