<div class="vidbg">
  <div class="promo">
    <video autoplay="autoplay" loop>
      <source src="../img/frontPage_6.mp4" type="video/mp4">
    </video>
  </div>
</div>

{{>header}}

        {{> page/signIn }}
        {{> page/signUpForm }}

