

<!-- LANDING PAGE -->
    <!-- Sign In/Sign Up Modal -->
    <div id="signInModal" class="modal">
        <div class="modal-content">
            <h4 id="sign-in-title">Sign In</h4>
            <input id="txtEmail" type="email" class="validate">
            <label for="email">Email</label>
            <input id="txtPassword" type="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="modal-footer">
            <a id="btnLogin" href="#!" class="modal-action waves-effect waves-green btn-flat hide">Sign In</a>
            <a id="btnSignUp" href="#!" class="modal-action waves-effect waves-green btn-flat hide">Sign Up</a>
        </div>
    </div>
    <!-- End of Sign In/Sign Up Modal -->

    <!-- Navigation menu -->
    <div class="container">
        <div id="login">
            <div class="row">
                <div class="col s4">
                    <img id="logo" class="reponsive-img" src="public/images/logo.png" alt="TrekMate" }>
                </div>
                <div class="col s4"></div>
                <div class="col s4">
                    <div class="nav-links">
                        <ul class="right hide-on-sm-and-down">
                            <li><a class="waves-effect waves-light btn modal-trigger" href="#signInModal" id="sign-in-link">Sign In</a></li>
                            <br>
                            <li><a class="waves-effect waves-light btn" href="#signInModal" id="sign-up-link">Sign Up</a></li>
                            <li><a class="waves-effect waves-light btn hide" id="btnLogout">Sign Off</a></li><br>
                            <li><a class="waves-effect waves-light btn hide" id="back2Trips">Trips List</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navigation menu -->
<!-- END OF LANDING PAGE-->



