<div class="vidbg">
  <div class="promo">
    <video autoplay="autoplay" loop>
      <source src="../img/frontPage_6.mp4" type="video/mp4">
    </video>
  </div>
</div>

{{>header}}

<!-- LANDING PAGE -->
    <!-- Sign In/Sign Up Modal -->
    <div id="signInModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4 id="sign-in-title">Sign In</h4>
            <input id="txtEmail" type="email" class="validate">
            <label for="email">Email</label>
            <input id="txtPassword" type="password" class="validate">
            <label for="password">Password</label>
          </div>
          <div class="modal-footer">
              <a id="btnLogin" href="#!" class="modal-action waves-effect waves-green btn-flat hide">Sign In</a>
              <a id="btnSignUp" href="#!" class="modal-action waves-effect waves-green btn-flat hide">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Sign In/Sign Up Modal -->

    <!-- Navigation menu -->

        {{> page/signIn }}
        {{> page/signUpForm }}

