<div class="site-wrapper">
    <div class="promo">
        <video autoplay="autoplay">
            <source src="/img/frontPage_6.mp4" type="video/mp4">
        </video>

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <img class="masthead-brand" id="logo" src="/img/logo.png" alt="logo">
                        <!--<h3 class="masthead-brand">Trekmate</h3>-->
                        <nav>
                            <ul class="nav masthead-nav">
                              {{#if user }}
                              <li class="active">
                                  <button type="button" class="btn btn-primary" onclick="location.href = '/dashboard';" >Your Trips
                                  </button>
                              </li>
                              <li class="active">
                                  <button type="button" class="btn btn-primary" onclick="location.href = '/logout';" >Log Out
                                  </button>
                              </li>
                              {{else}}
                                <li class="active">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#signInModal">Sign in
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#signUpModal">Sign Up
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#aboutModal">About
                                    </button>
                                </li>
                              {{/if}}
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Copyright &copy; 2017 Trekmate </p>
                    </div>
                </div>
        <!--Sign in Modal-->
        <div id="signInModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="POST">
                            <label for="inputUser">
                                <span>Enter User id</span>
                            </label>
                            <input id="email" type="text" name="email" style="color: #000;">
                            <label for="passwordUser">
                                <span class="actAsPara">Enter password</span>
                            </label>
                            <input id="password" type="password" name="password" style="color: #000;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--need to change action, temporay to dashboad for testing-->
        <!--sign up Modal-->
        <div id="signUpModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/signup" method="POST">
                            <input id="first_name" type="text" name="first_name" placeholder="First Name" style="color: #000;"><br>
                            <input id="last_name" type="text" name="last_name" placeholder="Last Name" style="color: #000;"><br>
                            <input id="email" type="text" name="email" placeholder="Email" style="color: #000;"><br>
                            <input id="password" type="password" name="password" placeholder="Password" style="color: #000;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--About Modal-->
        <div id="aboutModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">About</h4>
                    </div>
                    <div class="modal-body">
                        <p>Form Goes Here</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navigation menu -->
<!-- END OF LANDING PAGE-->
