<div id="addRentalModal" class="modal">
    <div class="modal-content">
        <h4>Add A Rental Car</h4>
        <input placeholder="Rental Company" id="Rental_Comp" type="text" class="validate">
        <input placeholder="Confirmation Number" id="confirmationNum" type="text" class="validate">
    </div>
    <div class="modal-footer">
        <a id="addRental" href="#!" class="modal-action waves-effect waves-green btn">Submit</a>
    </div>
</div>
